<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>шестерочка</title>
</head>
<body>
<a data-th-href="@{/catalogue/products/list}">к списку товаров</a>
<h1 data-th-text="${product.title}"></h1>
<ul>
  <li><strong>ID</strong>: <span data-th-text="${product.id}"></span></li>
  <li><strong>название</strong>: <span data-th-text="${product.title}"></span></li>
  <li><strong>описание</strong>: <span data-th-text="${product.details}"></span></li>
</ul>
<a data-th-href="@{/catalogue/products/{productId}/edit(productId=${product.id})}">изменить</a>
<form method="post" data-th-action="@{/catalogue/products/{productId}/delete(productId=${product.id})}">
  <button type="submit">удалить</button>
</form>
</body>
</html>